:root{
    --light-green:#1dc407;
    --dark-green:#108d02;
    --dark-brown:#734D3F;
}

@font-face{
    font-family:"Casino Flat";
    src: url(./assets/font/CasinoFlat.tff);
    src: url(./assets/font/Casinoflat-webfont.woff);
    src: url(./assets/font/Casinoflat-webfont.woff);
}

.wrapper{
    display: 10em;
    flex-direction: column;
}

.game-rules{
  padding: 10px;
  line-height: 1;
  font-size: 16px;
  font-family: "Lato";
}
.table-background {
    display: flex;
    position: relative;
    margin: 2vw 10vw;
    height: 400px;
    max-height: 450px;
    font-family:"Casino Flat";
}
.table-child{
    position: absolute;
    top: 0;
}

.table-border-left, .table-border-right{
    background-color:var(--dark-brown);
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.table-border-left{
    left:0;
}
.table-border-rect{
    background-color:var(--dark-brown);
    height: 450px;
    width: 550px;
    left: 220px;
}
.table-border-right{
    left:540px;
}
.table-left, .table-right{
    background-color:var(--dark-green);
    height: 410px;
    width: 410px;
    border-radius: 50%;
}
.table-left{
    left: 20px;
    top: 20px;
}
.table-rect{
    background-color:var(--dark-green);
    height: 410px;
    width: 545px;
    left: 230px;
    top: 20px;
}
.table-right{
    left:561px;
    top:20px;
}

.dice{
    position: absolute;
    height: 100px;
    left: 40%;
    margin-top: 10px;
}

/**********************************************
*** PLAYERS
**********************************************/

.players{
    display:flex;
    justify-content: center;
    align-items: center;
}
.player-1-panel,
.player-2-panel {
    margin: auto;
    text-align: center;
    width: 50%;
    float: left;
    height: 310px;
}
.player-1-panel {
    padding: 50px 100px 50px 0px;
}
.player-2-panel {
    padding: 50px 0px 50px 100px;
}
.active{
    background-color: var(--light-green);
}
.player-name{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}
.player-score-container{
    background-color: rgb(75, 75, 75,0.4);
    display:flex;
    justify-content: center;
    margin: 40px 0;    
}
.player-score{
    align-self: center;
    font-size: 80px;
    font-weight: 100;
    margin: 20px auto;
}

.btn-roll, .btn-hold, .btn-new  {
    width: 200px;
    left: 50%;
    background: none;
    border: none;
    font-family: "Lato";
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    transform: translateX(-50%);
}

.btn-new-container{
    display:flex;
    align-content:center;
}

.btn-roll { top: 300px;}
.btn-hold { top: 360px;}
.btn-new { top: 500px;}

