:root{
    --light-green:#108d02;
    --dark-brown:#734D3F;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.table-background {
    display: flex;
    position: relative;
    /* need to fix this */
    margin: 8vw 10vw;
    height: 400px;
    max-height: 450px;
}
.table-child{
    position: absolute;
    top: 0;
}
.table-border-left, .table-border-right{
    background-color:var(--dark-brown);
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.table-border-left{
    left:0;
}
.table-border-rect{
    background-color:var(--dark-brown);
    height: 450px;
    width: 550px;
    left: 220px;
}
.table-border-right{
    left:540px;
}
.table-left, .table-right{
    background-color:var(--light-green);
    height: 410px;
    width: 410px;
    border-radius: 50%;
}
.table-left{
    left: 20px;
    top: 20px;
}
.table-rect{
    background-color:var(--light-green);
    height: 410px;
    width: 545px;
    left: 230px;
    top: 20px;
}
.table-right{
    left:561px;
    top:20px;
}
.dice{
    position: absolute;
    height: 100px;
    left: 40%;
    margin-top: 10px;
}
.players{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.player-0-panel,
.player-1-panel {
    margin: auto;
    text-align: center;
}
.player-0-panel {
    margin-right: 100px;
}
.player-1-panel {
    margin-left: 100px;
}
.player-name{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}
.player-score-container{
    background-color: rgb(75, 75, 75,0.4);
    display:flex;
    justify-content: center;
    margin: 40px 0;    
}
.player-score{
    align-self: center;
    font-size: 80px;
    font-weight: 100;
    margin: 20px auto;
}

.btn-roll, .btn-hold, .btn-new  {
    width: 200px;
    left: 50%;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    transform: translateX(-50%);
}

.btn-new-container{
    display:flex;
    align-content:center;

}
.btn-roll { top: 300px;}
.btn-hold { top: 360px;}
.btn-new { top: 500px;}